:host {
    ion-content {
        --background: #FFFFFF;
    }
    .header {
        color: red;
        font-family: 'Lato-Bold';
        font-size: 18px;
    }
    .section-blok {
        padding: 10px 0px !important;
    }
    ion-row {
        justify-content: center;
    }
    ion-col {
        text-align: center;
    }
    .not-class {
        font-size: small;
        padding: 10px;
    }
    .ion-row-upload {
        margin-left: 10px;
        margin-right: 10px;
        height: 200px;
        background: #e4e4e4;
        color: #64666A;
        text-align: center;
        justify-content: center;
        position: relative;
        margin-top: 10px;
    }
    .content {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
    }
    ion-list {
        padding-top: 0;
        padding-bottom: 0;
    }
    ion-item {
        --background: #eee;
        border-radius: 5px;
        margin: 10px 0px;
        --inner-border-width: 0 0 0px 0;
        --padding-top: 5px;
        --padding-bottom: 5px;
    }
    ion-radio {
        margin: 0px 10px 0px 0px!important;
    }
    .btn {
        max-width: 130px;
        font-size: 15px;
        --background: -webkit-linear-gradient(90deg, red 0%, red 100%) !important;
        color: #fff;
        text-transform: none !important;
        height: 30px;
        border-radius: 15px !important;
        overflow: hidden;
        max-width: 114px !important;
        font-size: 14px !important;
        text-transform: capitalize !important;
    }
}