<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Payment</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="ion-no-padding section-blok">
        <ion-row no-padding>
            <ion-col>
                <ion-list>
                    <ion-radio-group value="Paypal" (ionChange)="onChangeValue($event)">

                        <ion-item>
                            <ion-img class="img-helicopter" style="height: 21px;  margin-right: 15px;" src="../../../assets/images/paypal.png"></ion-img>
                            <ion-label>Paypal</ion-label>
                            <ion-radio slot="start" value="Paypal"></ion-radio>
                        </ion-item>

                        <ion-item>
                            <ion-img class="img-helicopter" style="height: 21px; margin-right: 15px;" src="../../../assets/images/alipay.png"></ion-img>
                            <ion-label>Alipay</ion-label>
                            <ion-radio slot="start" value="Alipay" disabled=true></ion-radio>
                        </ion-item>

                        <ion-item>
                            <ion-img class="img-helicopter" style="height: 21px; margin-right: 15px;" src="../../../assets/images/worldpay.png"></ion-img>
                            <ion-label>WorldPay</ion-label>
                            <ion-radio slot="start" value="Cash" disabled=true></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

<ion-footer style="text-align: center; position: static;">
    <ion-button style="border-radius: 5px !important; min-height: 40px !important; margin-bottom: 50px !important;" slot="start" class="btn btn-round" type="submit" (click)="paynow()">
        PAY NOW
    </ion-button>
</ion-footer>