<ion-content class="ion-no-padding main-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="padding: 0 6px;">

        <ion-grid class="box-wrapper">
            <ion-row>
                <ion-col>
                    <ion-img src="../../../assets/images/logo.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="login-label">Login</ion-label>
                </ion-col>
            </ion-row>

            <ion-row class="tab-row">
                <ion-col size="12">
                    <ion-segment [value]="selectedSegment" (ionChange)="onClickSegment($event)">
                        <ion-segment-button *ngFor="let segment of segments" [value]="segment.key">
                            <ion-label>
                                {{ segment.label }}
                            </ion-label>
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
            </ion-row>
            <div *ngIf=" this.pageType == 'email'">

                <ion-row class="ion-no-padding container mb-20">
                    <ion-col class="ion-no-padding" style="text-align: center">
                        <ion-item class="ion-no-padding form-control">
                            <!-- <ion-label position="floating">Your Email</ion-label> -->
                            <ion-input type="Email" placeholder="Your Email" formControlName="email"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding container mb-20">
                    <ion-col no-padding>
                        <ion-item class="ion-no-padding form-control">
                            <!-- <ion-label position="floating">Your Password</ion-label> -->
                            <ion-input type="password" placeholder="Your Password" formControlName="password">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="container mb-10">
                    <ion-col class="text-right">
                        <ion-label class="text-right" style="cursor: pointer;" (click)="goForgot()">
                            Forgot Password?
                        </ion-label>
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf=" this.pageType == 'otp'">
                <ion-row class="ion-no-padding container mb-20">
                    <ion-col class="ion-no-padding" style="text-align: center;flex: 0 0 120px; max-width: 120px;">
                        <ion-item class="ion-no-padding form-control">
                            <country-picker (change)="selectContry($event)"> </country-picker>
                        </ion-item>
                    </ion-col>
                    <ion-col class="ion-no-padding" style="text-align: center">
                        <ion-item class="ion-no-padding form-control">
                            <ion-input type="tel" placeholder="Your Mobile" maxlength="15" formControlName="mno">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding container mb-20">
                    <ion-col no-padding>
                        <ion-item class="ion-no-padding form-control" style="border-bottom: 0px ;">
                            <!-- <ion-label position="floating">Your Password</ion-label> -->
                        </ion-item>
                    </ion-col>
                </ion-row>

            </div>
            <div *ngIf=" this.pageType != 'otp'">
                <ion-row class="container mb-10">
                    <ion-col>
                        <ion-button class="login-button btn btn-danger text-uppercase" type="submit">
                            LogIn
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf="this.pageType == 'otp'">
                <ion-row class="container mb-10">
                    <ion-col>
                        <ion-button class="login-button btn btn-danger text-uppercase" style="max-width: 200px;"
                                    type="submit">
                            verification code
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>

            <ion-row class="container mb-10" *ngIf="!shouldDisable">
                <ion-col style="display: contents;">
                    <ion-label>Dont recive the verification code? </ion-label>
                    <ion-button [disabled]="shouldDisable" (click)="onSubmit()">Resend verification code
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row class="container mb-10">
                <ion-col>
                    <ion-label>Don't have a account? </ion-label>
                    <ion-label style="color: red;" (click)="goToRegister()"> Signup</ion-label>
                </ion-col>
            </ion-row>

            <!-- <ion-row class="container">
            <ion-col size="6">
                <ion-button class="btn btn-primary text-normal social-btn"  (click)="goToHome()">
                     Login with Facebook 
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button class="btn btn-danger text-normal social-btn"  (click)="goToHome()">
                    Sign in with Google+
                </ion-button>
            </ion-col>
        </ion-row> -->

        </ion-grid>
    </form>

</ion-content>