:host {
    ion-grid {
        // height: 150px;
        border: 2px solid black;
    }
    ion-row {
        text-align: center;
        ion-col {
            ion-img {
                height: 80px;
            }
            ion-label {
                color: white;
            }
        }
    }
    ion-tabs {
        margin-top: 177px;
        height: auto;
    }
    .profile_image {
        width: 92px !important;
        height: 92px !important;
        position: relative;
        margin: 0 auto;
        background-color: #939393;
        border: 2px solid #4c85ba;
        padding: 0px;
        border-radius: 50%;
        overflow: hidden !important;
    }
    .profile_image ion-img {
        // width: 100% !important;
        // height: auto !important;
    }
    .user-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 7px;
    }
    .tab-nav-box {
        width: 100%;
        max-width: 50% !important;
        float: left;
        color: #969696;
        font-size: 17px;
        border-bottom: 2px solid transparent;
    }
    .tab-nav-box.tab-selected {
        color: #030b18;
        border-bottom: 2px solid #030b18;
    }
}