<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>My Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding header-block">
    <ion-grid>
        <ion-row class="user-img-block">
            <!-- <ion-col>
                <div class="user-img-box">
                    <ion-img *ngIf="this.user.UserPic != '' && this.user.UserPic != 'https://helicopter.blenzabi.com/uploads/'" src="{{this.user.UserPic}}"></ion-img>
                    <ion-img *ngIf="this.user.UserPic == ''" src="../../../../../assets/images/avtar.png"></ion-img>
                </div>
            </ion-col> -->

            <ion-col class="profile-img-box">
                <div>
                    <div class="profile_image">
                        <ion-img *ngIf="this.user.UserPic != ''"
                                 src="{{ this.user.UserPic!='https://backend.iflyhto.com/uploads/user/'? this.user.UserPic:'../../assets/images/avtar.png'}}">
                        </ion-img>
                        <ion-img *ngIf="this.user.UserPic == ''" src="../../../assets/images/avtar.png"></ion-img>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding user-name">
            <ion-col no-padding>
                <ion-label>{{this.user.firstname}} {{this.user.lastname}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding user-mail">
            <ion-col no-padding>
                <ion-label>{{this.user.email}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>

            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-tabs tabbarPlacement="top" primary class="withNavbar">

        <ion-tab-bar slot="top">
            <ion-tab-button class="tab-nav-box" tab="mydetails">
                <!-- <ion-icon name="home"></ion-icon> -->
                <ion-label class="text-uppercase">My Details</ion-label>
            </ion-tab-button>

            <ion-tab-button class="tab-nav-box" tab="myride">
                <!-- <ion-icon name="settings"></ion-icon> -->
                <ion-label class="text-uppercase">My Rides</ion-label>
            </ion-tab-button>
        </ion-tab-bar>

    </ion-tabs>


</ion-content>