<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Verification code</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding main-wrapper">
    <ion-grid style="margin: 30px 10px;">

        <ion-row class="ion-no-padding container mb-20">
            <ion-col class="ion-no-padding" style="text-align: center">
                <ion-label>Enter the verification code sent to ********{{mno.toString().slice(-4)}} </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding container mb-20">
            <ion-col class="ion-no-padding" style="text-align: center">
                <ion-item class="ion-no-padding form-control">
                    <!-- <ion-label position="floating">Your Email</ion-label> -->
                    <ion-input type="tel" placeholder="Verification code" [(ngModel)]="otp"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>


        <ion-row class="container mb-10">
            <ion-col>
                <ion-button class="login-button btn btn-danger text-uppercase" (click)="onSubmit()">
                    Verify
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row class="container mb-10" >
            <ion-col style="    display: contents;">
                <ion-label>Dont recive the verification code?&nbsp;</ion-label>
                <ion-button *ngIf="!shouldDisable" style="color: red;"  (click)="resendOtp()">Resend verification code</ion-button>
                <ion-label *ngIf="shouldDisable" > {{millisToMinutesAndSeconds(total)}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>