
:host {
   
    ion-content {
        --background: #FFFFFF;
    }
    .header-block {
        text-align: center;
        background-color: red;
        padding: 20px 0px;
        justify-content: center;
    }
    .text-center {
        text-align: center !important;
        justify-content: center;
    }
    .ion-row {
        margin-left: 10px;
        margin-right: 10px;
    }
    .helicopter-img {
        width: 50px;
        opacity: 0.5;
        display: block;
        margin: 0 auto;
    }
    .title {
        font-family: 'Lato-Bold';
        font-size: 30px;
        text-align: center;
        opacity: 0.5;
        margin-top: 5px;
        display: block;
    }
    .heading {
        margin: 10px 0px 0 0;
        display: block;
        color: #808080;
        font-size: 18px;
        font-family: 'Lato-Bold';
        text-transform: capitalize;
    }
    .price {
        color: red;
        font-size: 18px;
        font-family: 'Lato-Bold';
    }
    .content {
        color: #808080;
        font-size: 14px;
    }
    #profile_image {
        width: 120px;
        height: 120px;
        display: block;
        margin: 0 auto;
        opacity: 0.6;
    }
    .profile-img-box {
        background-color: #1c2230;
        color: white;
        text-align: center;
        justify-content: center;
        padding: 30px;
    }
    .profile-img-block {
        margin-top: 15px;
    }
    #fileInput {
        opacity: 0;
        display: none;
    }
    .btn {
        --background: -webkit-linear-gradient(90deg, #00c95e 0%, #00c95e 100%) !important;
        color: white;
        font-size: 15px;
        margin-top: 40px;
        max-width: 150px;
        text-transform: capitalize !important;
        height: 42px;
    }
}