<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Pass Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="ion-no-padding header-block">
        <ion-row class="ion-no-padding text-center">
            <ion-col class="ion-no-padding text-center">
                <ion-img class="helicopter-img" src="../../../../assets/images/helicopter2.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding text-center">
            <ion-col>
                <ion-label class="title">{{selPass.PassName}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <form [formGroup]="form" (ngSubmit)="bookNow()">
        <ion-grid no-padding>
            <ion-row class="ion-row">
                <ion-col>
                    <ion-label class="heading">{{selPass.PassType}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="ion-row">
                <ion-col size="7">
                    <ion-label class="price">${{selPass.PassAmount}}</ion-label>
                    <ion-label class="sub-price">/Per Pass</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="ion-row">
                <ion-col>
                    <ion-label class="content">Expire whithin 1 year of original purchase(if never checked in)</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="ion-row">
                <ion-col>
                    <ion-label class="content">{{selPass.Desc}}</ion-label>
                </ion-col>
            </ion-row>

            <ion-row class="profile-img-block">
                <ion-col class="profile-img-box">
                    <div class="profile_image">
                        <ion-img class="pro-img" id="profile_image" *ngIf="!image1" src="../../../../assets/images/plus2.png" (click)="selectImage(1)"></ion-img>
                        <ion-img class="pro-img" id="profile_image" *ngIf="image1" src="data:image/png;base64,{{image1}}" (click)="selectImage(1)"></ion-img>
                        <!-- <input type="hidden" formControlName="image1"> -->
                        <label for="fileInput" icon-only ion-button class="icons-btn">CLICK TO UPLOAD</label>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="ion-row mt-10">
                <ion-col>
                    <ion-label>Upload your ID proof details (driving license, passport, valid ID or any official government ID)*.</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="ion-row mt-20">
                <ion-col>
                    <ion-item>
                        <ion-input type="text" formControlName="idProof" placeholder="Enter ID proof #"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-row">
                <ion-col>
                    <ion-button class="btn btn-round" type="submit" [disabled]="!form?.valid">
                        Book Now
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>