<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid class="ion-no-padding header">
                <!-- <div class="back-button button"> -->
                <ion-buttons class="back-button button" no-padding>
                    <ion-back-button text="" defaultHref=""></ion-back-button>
                </ion-buttons>
                <!-- </div> -->
                <ion-row class="header-block">
                    <ion-col>
                        <div class="header-box text-center">
                            <ion-img class="logo" src="../../assets/images/header-logo.png"></ion-img>
                            <ion-label class="logo-title">Helicopter To</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content  no-padding>

    <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col no-padding>
                <!-- [ngStyle]="{'background-image':'url(' + route.CountryPic + ')'}" -->
                <ion-img src="{{selRoute.CountryPic}}"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="content-block">
        <ion-row no-padding>
            <ion-col>
                <ion-label class="title">{{route.RouteTitle}}</ion-label>
            </ion-col>
            <ion-col size="5" class="text-right">
                <ion-button class="book-pass btn btn-round" type="submit" (click)="bookPass()">
                    Book A Pass
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row no-padding>
            <ion-col class="text-justify">
                {{route.RouteDesc}}
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding filter-block">
            <ion-col size="12">
                <h4 class="class-route-title"> {{route.routes_details.length}} flying points in route</h4>
                <ion-label class="class-route-time"> 6:00 AM to 6:00 PM (Monday to friday)</ion-label>
            </ion-col>
            <div class="filter-button">
                <ion-img class="filter-img" src="../../../assets/images/updown.png"></ion-img>
            </div>
        </ion-row>


    </ion-grid>

    <ion-list class="ion-no-padding helicopter-list">
        <ion-item class="list-block" *ngFor="let point of route.routes_details">
            <ion-grid class="ion-no-padding">
                <ion-row class="ion-no-padding">
                    <ion-col class="ion-no-padding" size="2" class="list-img">
                        <ion-img class="helico  pter-img" src="../../../assets/images/helicopter2.png"></ion-img>
                    </ion-col>
                    <ion-col class="ion-no-padding list-box">
                        <div class="list-content-box">
                            <h4 class="list-heading">
                                <ion-img class="location-img" src="../../../assets/images/locaton2.png"></ion-img>
                                {{point.PlaceName}}
                            </h4>
                            <h5 class="list-content"> {{point.Lat}} N - {{point.Long}} E </h5>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

    </ion-list>
   



    <!-- <abm-map #map [options]="options" (ready)="onReady($event)" style="height: 300px;"></abm-map> -->
    <!-- <baidu-map *ngIf="this.isChina" [options]="options" style="display: block; width: auto!important; height: 300px;"></baidu-map> -->
    <!-- <div #Map *ngIf="!this.isChina" id="map_canvas"></div> -->
    
    <!-- <abm-map #map [options]="satelliteOptions" (ready)="onReadySatellite($event)" style="height: 300px;"></abm-map> -->
    <div #mapElement id="map"></div>
</ion-content>
<!-- <div #Map id="map_canvas"></div> -->