:host {
    .main-wrapper {
        --background: radial-gradient(circle closest-side at 50% 50%, #010B17 0%, #010B17 100%);
        padding: 0 18px;
    }
    .back_arrow {
        width: 40px;
        height: 40px;
    }
    .img {
        width: 100px;
        height: 100px;
    }
    ion-row {
        justify-content: center;
    }
    ion-col {
        text-align: center;
    }
    ion-icon {
        font-size: 40px;
        color: white
    }
    ion-label {
        color: white;
        font-size: 14px;
    }
    .register-button {
        --background: -webkit-linear-gradient(90deg, #F10010 0%, #F10010 100%) !important;
        color: white
    }
    .btn-danger {
        --background: #e01212 !important;
        color: #fff;
    }
    
    .profile_image {
        width: 120px;
        height: 120px;
        position: relative;
        margin: 0 auto;
        margin-top: 0px;
        background-color: #939393;
        padding: 7px;
        border-radius: 50%;
        margin-top: 10px;
    }
    .user-img {
        width: 70px !important;
        height: 70px !important;
        overflow: hidden;
        border-radius: 50% !important;
        border: 2px solid #939393;
        max-width: 70px !important;
        background-color: transparent;
        position: relative;
    }
    #profile_image {
        width: 106px;
        height: 106px;
        display: block;
        overflow: hidden;
        border-radius: 40% !important;
    }
    #fileInput {
        position: absolute;
        opacity: 0;
    }
    .icons-btn {
        width: 40px;
        height: 40px;
        background-color: #032b71;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
    }
    .icon.md.hydrated {
        font-size: 27px;
        position: relative;
        top: 6px;
    }
}