<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>NEW SIGNUP</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding main-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-grid>
            <ion-row class="profile-img-block">
                <ion-col class="profile-img-box">
                    <div class="profile_image">
                        <ion-img class="pro-img" id="profile_image" *ngIf="!image1"
                                 src="../../../assets/images/avtar.png"></ion-img>
                        <ion-img class="pro-img" id="profile_image" *ngIf="image1"
                                 src="data:image/png;base64,{{image1}}"></ion-img>
                        <!-- <input type="hidden" formControlName="image1"> -->
                        <label for="fileInput" icon-only ion-button class="icons-btn">
                            <ion-icon name="camera" (click)="selectImage(1)" class="icon"></ion-icon>
                        </label>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding container-fluid mb-10">
                <ion-col no-padding>
                    <ion-item class="ion-no-padding form-control">
                        <!-- <ion-label position="floating">Your Email</ion-label> -->
                        <ion-input type="text" placeholder="First Name" formControlName="fname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding container-fluid mb-10">
                <ion-col class="ion-no-padding" style="text-align: center">
                    <ion-item class="ion-no-padding form-control">
                        <!-- <ion-label position="floating">Your Email</ion-label> -->
                        <ion-input type="text" placeholder="Last Name" formControlName="lname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding container-fluid mb-10">
                <ion-col class="ion-no-padding" style="text-align: center">
                    <ion-item class="ion-no-padding form-control">
                        <!-- <ion-label position="floating">Your Email</ion-label> -->
                        <ion-input type="Email" placeholder="Email ID" formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding container-fluid mb-10">
                <ion-col no-padding>
                    <ion-item class="ion-no-padding form-control">
                        <!-- <ion-label position="floating">Your Password</ion-label> -->
                        <ion-input type="password" placeholder="Password" formControlName="pass"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding container-fluid mb-10">
                <ion-col no-padding>
                    <ion-item class="ion-no-padding form-control">
                        <!-- <ion-label position="floating">Your Password</ion-label> -->
                        <ion-input type="password" placeholder="Confirm Password" formControlName="cpass"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding container mb-20">
                <ion-col class="ion-no-padding" style="text-align: center;flex: 0 0 120px; max-width: 120px;">
                    <ion-item class="ion-no-padding form-control">
                        <country-picker (change)="selectContry($event)"> </country-picker>
                    </ion-item>
                </ion-col>
                <ion-col class="ion-no-padding" style="text-align: center">
                    <ion-item class="ion-no-padding form-control">
                        <!-- <ion-label position="floating">Your Email</ion-label> -->
                        <ion-input type="tel" placeholder="Your Mobile" maxlength="15" formControlName="mphone">
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-note style="color: red;padding-top: 5px;">By clicking "Register", you agree to Helicopter To Terms
                    of Use and Privacy Policy. You consent to receive phone calls and SMS messages from Helicopter To to
                    provide updates on your order and/or for marketing purposes. Message frequency depends on your
                    activity. You may opt-out by texting "STOP". Message and data rates may apply.</ion-note>
            </ion-row>
            <!-- <ion-row class="ion-no-padding container-fluid mb-20">
                
                <ion-col no-padding>
                    <ion-item class="ion-no-padding form-control">
                        <ion-input type="tel" maxlength="15" placeholder="Mobile#" formControlName="mphone"></ion-input>
                    </ion-item>
                    <ion-note style="color: red;">By clicking "Register", you agree to Helicopter To Terms of Use and Privacy Policy. You consent to receive phone calls and SMS messages from Helicopter To to provide updates on your order and/or for marketing purposes. Message frequency depends on your activity. You may opt-out by texting "STOP". Message and data rates may apply.</ion-note>
                </ion-col>
            </ion-row> -->

            <ion-row class="container-fluid  mb-20">
                <ion-col size="1">
                    <ion-checkbox color="danger" formControlName="check"></ion-checkbox>
                </ion-col>
                <ion-col style="text-align: start">
                    <ion-label>I accept <a target="_blank" href="https://backend.iflyhto.com/privavy_policy.html"
                           style="color: red;">Terms and Conditions ?</a></ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button class="register-button btn btn-danger text-uppercase" type="submit"
                                [disabled]="!form?.valid">
                        Register
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row class="mb-20">
                <ion-col>
                    <ion-label>Alredy have a account? </ion-label>
                    <ion-label style="color: red;" (click)="goToLogin()"> Login</ion-label>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>
</ion-content>