<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="white" text="GROUP" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-button slot="primary" size="2" (click)="creategroup()">
            <ion-img class="logo" style="height: 20px; width: 22px;" src="../../assets/images/plus.png"></ion-img>
        </ion-button>
    </ion-toolbar>
    <ion-row>
        <ion-col>
            <ion-searchbar (ionChange)="getItems($event)"></ion-searchbar>

        </ion-col>

    </ion-row>

</ion-header>

<ion-content>
    <ion-list no-padding class="list-box" *ngIf="userList?.length > 0">
        <ion-card-content class="chat_list_block" *ngFor="let chat of userList" (click)="Groupchatdata(chat)">
            <ion-grid no-padding>
                <ion-row no-padding style="align-items: center;">
                    <ion-col no-padding class="user_img_box">

                        <div class="user_icon new">
                            <ion-img class="circle-pic" style="filter: invert(1);" src="../../assets/images/group-chat.png"></ion-img>
                        </div>
                    </ion-col>
                    <ion-col no-padding class="user_content_box">
                        <ion-label class="user-name">{{chat.GroupTitle}}</ion-label>
                        <!-- <ion-label class="time">04:55 PM</ion-label> -->
                    </ion-col>
                    <!-- <ion-col no-padding size="2" class="user_count">
                        <ion-label class="msg-count">{{chat.TotalUnreadMessages}}</ion-label>
                    </ion-col> -->
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>

    <ion-card-content no-padding class="empty-list-box" *ngIf="userList?.length == 0">
        <ion-label class="empty-list">
            Chat Not Available!
        </ion-label>
    </ion-card-content>
</ion-content>