:host {
    ion-content {
        --background: #FFFFFF;
        padding: 10px;
    }
    ion-title {
        color: white
    }
    ion-list {
        margin: 10px;
    }
    ion-card-content {
        height: auto;
        border-radius: 10px;
        background-color: #eee;
        margin: 15px 0px;
        display: block;
        padding: 15px;
        border: 1px solid #d4d4d4;
    }
    ion-col {
        margin: 0px;
        padding: 0px;
    }
    .btn.btn-round {
        --background: green;
        font-size: 13px !important;
        height: 30px !important;
    }
    .date-block {
        text-align: right;
    }
    .address-date {
        display: inline-block;
        width: 18px;
        vertical-align: middle;
    }
    .date-content {
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
        font-size: 13px;
    }
    .font-bold {
        font-size: 17px;
        font-weight: bold;
    }
    .address-box {
        margin-top: 10px;
    }
    .address-icon {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
    }
    .address-content {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        font-size: 14px;
    }
}