<ion-header *ngIf="fromHome">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>My Ride History</ion-title> -->
        <ion-title>My Rides</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-no-padding" *ngIf="rideList?.length > 0">
        <ion-card-content *ngFor="let ride of rideList" no-padding>
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col size="8" (click)="rideClick(ride)">
                        <ion-label class="font-bold">{{ride.RouteTitle}}</ion-label>
                    </ion-col>
                    <ion-col align-self-end size="4" (click)="rideClick(ride)">
                        <div class="date-block">
                            <ion-img class="address-date" src="../../../assets/images/Calendar.png"></ion-img>
                            <ion-label class="date-content">{{ride.RideDate}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="address-box">
                            <ion-img class="address-icon" src="../../../../assets/images/location.png"></ion-img>
                            <ion-label class="address-content">{{ride.route_details[0].PlaceName}} >> {{ride.route_details[ride.route_details.length-1].PlaceName}} </ion-label>
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <ion-button class="btn btn-round" (click)="rideRating(ride)">
                            Ratings
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>

    </ion-list>
    <ion-card-content class="ion-no-padding empty-list-box" *ngIf="rideList?.length == 0">
        <ion-label class="empty-list">
            No Ride Booked!
        </ion-label>
    </ion-card-content>
</ion-content>