:host {
    ion-list {
        margin: 10px;
        background: #ededed;
    }
    ion-card-content {
        border-radius: 4px;
        background: #fff;
        height: auto;
        padding: 10px;
        margin: 14px 0px;
        border: 1px solid #f8f8f8;
    }
    .main-wrapper {
        --background: #ededed;
    }
    .price {
        color: red;
        margin-top: 10px;
        font-family: 'Lato-Bold';
        font-size: 18px;
    }
    .btn {
        max-width: 130px;
        font-size: 15px;
        --background: -webkit-linear-gradient(90deg, #00c95e 0%, #00c95e 100%) !important;
        color: #fff;
        text-transform: none !important;
        height: 30px;
        border-radius: 15px !important;
        overflow: hidden;
        max-width: 114px !important;
        font-size: 14px !important;
        text-transform: capitalize !important;
    }
    .title {
        font-family: 'Lato-Bold';
        font-size: 22px !important;
        text-transform: capitalize;
        margin: 0px !important;
        padding: 0px;
    }
    .content {
        color: #808080;
        font-size: 14px;
    }
    .img-helicopter {
        width: 50px;
        display: block;
    }
    .helicopter-box {
        text-align: right;
        width: 100%;
        position: relative;
        height: 25px;
    }
    .img-helicopter {
        width: 50px;
        display: block;
        position: absolute;
        right: 0;
    }
    .subcontent {
        color: #808080;
        font-size: 14px;
    }
    .border-top {
        border-top: 1px solid #ccc;
        padding-top: 4px;
        margin-top: 4px;
    }
    .price-content {
        font-family: 'Lato';
        font-size: 13px;
        color: #000;
    }
}