<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Book A Pass</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="main-wrapper">
    <ion-list class="ion-no-padding" *ngIf="passList?.length > 0">
        <ion-card-content *ngFor="let pass of passList" no-padding>
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col size="6" class="left-side">
                        <h4 class="title">{{pass.PassName}}</h4>
                        <ion-label class="content" *ngIf="pass.PassType!='Luggage'">{{pass.PassType}}</ion-label>
                    </ion-col>
                    <ion-col size="6" class="right-side text-right">
                        <div class="helicopter-box" *ngIf="pass.PassType!='Luggage'">
                            <ion-img class="img-helicopter" src="../../../assets/images/helicopter2.png"></ion-img>
                        </div>
                        <div class="helicopter-box" *ngIf="pass.PassType=='Luggage'">
                            <ion-img class="img-helicopter" style="height: 21px; " src="../../../assets/images/lugage.png"></ion-img>
                        </div>
                        <ion-label class="subcontent" *ngIf="pass.PassType!='Luggage'">{{pass.PassType}}</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row class="ion-no-padding border-top">
                    <ion-col size="6" class="left-side">
                        <h4 class="price" *ngIf="pass.PassType!='Luggage'">${{pass.PassAmount}}
                            <ion-label class="price-content"> /Per Pass</ion-label>
                        </h4>
                    </ion-col>
                    <ion-col size="6" class="right-side text-right">
                        <ion-button class="btn btn-round" (click)="passClick(pass)">
                            More info
                        </ion-button>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-list>

    <ion-card-content class="ion-no-padding empty-list-box" *ngIf="passList?.length == 0">
        <ion-label class="empty-list">
            No Pass Available!
        </ion-label>
    </ion-card-content>
</ion-content>