ion-content {
    --background: #fff;
}
ion-card-content.chat_list_block {
    padding: 8px 10px;
    margin: 10px;
    background: #ccc;
    border-radius: 5px;
}
ion-col.user_img_box{
    flex: 0 0 48px;
    max-width: 48px;
    margin-right: 15px;
    padding: 0px !important;
}
.user_icon {
    background: #cececc;
    padding: 0px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.user_icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 48px;
    min-height: 48px;
}
ion-label.user-name {
    display: block;
    font-weight: 700;
    color: #000;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
ion-label.time {
    color: #000;
    font-size: 14px !important;
    font-weight: 700;
}
ion-col.user_count {
    flex: 0 0 !important;
    padding: 0px;
    max-width: none !important;
    width: auto !important;
    font-size: 16px;
    color: #000;
    white-space: nowrap;
}