<ion-select [(ngModel)]="selectedCode" (ionChange)="FilterItems()" interface="popover">
  <ion-select-option *ngFor="let c of countries" value="{{c.code}}">{{c.code==''?'':'('+c.code+') '}}{{c.name}}
  </ion-select-option>
</ion-select>