<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid class="ion-no-padding header">
                <!-- <div class="back-button button"> -->
                <ion-buttons class="back-button button" no-padding>
                    <ion-back-button color="white" text="" defaultHref=""></ion-back-button>
                </ion-buttons>
                <!-- </div> -->
                <ion-row class="header-block">
                    <ion-col>
                        <div class="header-box text-center">
                            <!-- <ion-img class="logo" src="../../assets/images/header-logo.png"></ion-img> -->
                            <ion-label *ngIf="!isShow" class="logo-title">Your Rating</ion-label>
                            <ion-label *ngIf="isShow" class="logo-title">Submit Your Rating</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid style="padding: 15px 20px !important">
        <ion-row>
            <ion-col size="6" class="pass-title">
                <ion-label>{{ride.pass.PassName}}</ion-label>
            </ion-col>
            <ion-col size="6" style="text-align: right !important;">
                <div class="address-box">
                    <ion-img class="address-icon" src="../../../assets/images/Calendar.png"></ion-img>
                    <ion-label class="address-content">{{ride.RideDate}}</ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="mt-30">
            <ion-col>
                <ion-label class="route-id">#{{ride.MyRideID}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label style="font-weight: bold;">{{ride.RouteTitle}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="padding: 0px !important;">
                <ion-label class="route-name">{{ride.CountryName}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="padding: 0px !important;">
                <div class="address-box">
                    <ion-img class="address-icon" src="../../../assets/images/location.png"></ion-img>
                    <ion-label class="address-content">{{ride.route_details[0].PlaceName}} >> {{ride.route_details[ride.route_details.length-1].PlaceName}}</ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="margin-top: 15px;">
                <ion-img *ngIf="ride.pilot.UserPic != '' " class="pilot-img" src="{{ride.pilot.UserPic}}"></ion-img>
                <ion-img *ngIf="ride.pilot.UserPic == ''" class="pilot-img" src="../../../assets/images/place_hoder.jpeg"></ion-img>
                <ion-label>Pilot: {{ride.pilot.firstname}} {{ride.pilot.lastname}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngIf="isShow" style="margin-top: 30px;">
                <ionic4-star-rating #rating readonly="false" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#fdb515" defaultColor="#888888" rating="0" fontSize="32px" (ratingChanged)="logRatingChange($event)">
                </ionic4-star-rating>
            </ion-col>
            <ion-col *ngIf="!isShow" style="margin-top: 30px;">
                <ionic4-star-rating #rating readonly="true" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#fdb515" defaultColor="#888888" [(ngModel)]="rat" rating="0" fontSize="32px">
                </ionic4-star-rating>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-label>Write to us about your ride experience</ion-label>
                <ion-textarea [disabled]="!isShow" [readonly]="!isShow" class="notes" rows="6" cols="20" [(ngModel)]="cmt" placeholder="Enter any notes here..."></ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isShow">
            <ion-col>
                <ion-button class="btn btn-danger text-normal social-btn" (click)="submit()">Submit</ion-button>
            </ion-col>
        </ion-row>


    </ion-grid>

</ion-content>