:host {
    ion-content {
        --background: #fff;
        padding: 10px;
    }
    ion-col {
        text-align: center;
    }
    .back-button-has-icon-only {
        height: auto;
    }
    .pass-title {
        text-align: left !important;
        font-weight: bold;
        font-family: 'Lato-Bold';
    }
    .route-name {
        color: #e01212;
        font-family: 'Lato';
        font-size: 15px;
    }
    .route-id {
        background: #e01212;
        border-radius: 10px;
        padding: 5px;
        color: white;
        font-weight: bold;
    }
    .pilot-img {
        height: 50px !important;
        width: auto;
    }
    .notes {
        border: 1px solid #b6b6b6;
        border-radius: 5px;
    }
    .date-block {
        text-align: right;
    }
    .address-date {
        display: inline-block;
        width: 18px;
        vertical-align: middle;
    }
    .login-button {
        --background: -webkit-linear-gradient(90deg, #F10010 0%, #F10010 100%) !important;
        color: #fff;
        font-size: 17px;
    }
    .btn-danger {
        --background: #e01212 !important;
        color: #fff;
    }
    .btn.btn-primary {
        --background: #1636a3 !important;
        color: #fff;
    }
    .date-content {
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
        font-size: 13px;
    }
    .font-bold {
        font-size: 17px;
        font-weight: bold;
    }
    .address-box {
        margin-top: 0px;
    }
    .address-icon {
        width: 15px;
        display: inline-block;
        vertical-align: middle;
    }
    .address-content {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        font-size: 14px;
    }
}