:host {
    ion-content {
        --background: #FFFFFF;
    }
    ion-select {
        max-width: 100%;
        --padding-start: 2px;
        --padding-top: 2px;
        --padding-bottom: 2px;
        --padding-end: 2px;
        width: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px !important;
        flex: 0 0 100% !important;
    }
    .header-block {
        text-align: center;
        background-color: red;
        padding: 20px 0px;
        justify-content: center;
    }
    .text-center {
        text-align: center !important;
        justify-content: center;
    }
    .ion-row {
        margin-left: 10px;
        margin-right: 10px;
    }
    .helicopter-img {
        width: 30px;
        opacity: 0.5;
        display: block;
        margin: 0 auto;
    }
    .title {
        font-family: 'Lato-Bold';
        font-size: 30px;
        text-align: center;
        opacity: 0.5;
        margin-top: 5px;
        display: block;
    }
    .heading {
        margin: 10px 0px 0 0;
        display: block;
        color: #808080;
        font-size: 18px;
        font-family: 'Lato-Bold';
        text-transform: capitalize;
    }
    .price {
        color: red;
        font-size: 18px;
        font-family: 'Lato-Bold';
    }
    .content {
        color: #808080;
        font-size: 14px;
    }
    #profile_image {
        width: 120px;
        height: 120px;
        display: block;
        margin: 0 auto;
        opacity: 0.6;
    }
    .profile-img-box {
        background-color: #1c2230;
        color: white;
        text-align: center;
        justify-content: center;
        padding: 30px;
    }
    .profile-img-block {
        margin-top: 15px;
    }
    #fileInput {
        opacity: 0;
        display: none;
    }
    // book pass css
    ion-list {
        margin: 10px;
        background: #fff;
    }
    ion-card-content {
        border-radius: 4px;
        background: #fff;
        height: auto;
        padding: 0px;
        margin: 14px 0px;
        border: 1px solid #dfdddd;
    }
    .main-wrapper {
        --background: #fff;
    }
    .btn {
        max-width: 130px;
        font-size: 15px;
        --background: -webkit-linear-gradient(90deg, #00c95e 0%, #00c95e 100%) !important;
        color: #fff;
        text-transform: none !important;
        height: 30px;
        border-radius: 15px !important;
        overflow: hidden;
        max-width: 114px !important;
        font-size: 14px !important;
        text-transform: capitalize !important;
    }
    .title {
        font-family: 'Lato-Bold';
        font-size: 22px !important;
        text-transform: capitalize;
        margin: 0px !important;
        padding: 0px;
    }
    .subcontent {
        color: #808080;
        font-size: 14px;
    }
    .border-top {
        border-top: 1px solid #ccc;
        padding-top: 4px;
        margin-top: 4px;
    }
    .price-content {
        font-family: 'Lato';
        font-size: 13px;
        color: #000;
    }
    ion-item {
        background: transparent;
        --background: transparent !important;
        border: 1px solid #000;
        --min-height: auto !important;
        --padding-start: 0px !important;
        --padding-end: 0px !important;
        --padding-top: 0px !important;
        --border-width: 0px 0 0px 0;
        --show-full-highlight: 0;
        --show-inset-highlight: 0;
        margin: 0px !important;
        border-radius: 5px;
    }
    ion-label.tittle {
        font-weight: bold;
    }
}