<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Luggage Pass Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="main-wrapper">

    <ion-grid class="ion-no-padding header-block">
        <ion-row class="ion-no-padding text-center">
            <ion-col class="ion-no-padding text-center">
                <ion-img class="helicopter-img" src="../../../../assets/images/lugage.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding text-center">
            <ion-col>
                <ion-label class="title">{{selPass.PassName}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list class="ion-no-padding" *ngIf="passBagList?.length > 0">
        <ion-card-content *ngFor="let Bagpass of passBagList" no-padding>
            <ion-grid no-padding>
                <ion-row no-padding style="align-items: center;
                justify-content: space-between; background-color: #eee;">
                    <ion-col size="4">
                        <ion-label class="tittle">Size : </ion-label>
                        <ion-label class="content">{{Bagpass.BagSize}}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label class="tittle">Price : </ion-label>
                        <ion-label class="content">$ {{Bagpass.PricePerBag}}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-item>
                            <!-- <ion-label position="floating">Select Bag</ion-label> -->
                            <!-- <ion-select interface="popover" [(ngModel)]="Bagpass.selbag == undefined ?'0':Bagpass.selbag"> -->
                            <ion-select interface="popover" [(ngModel)]="Bagpass.selbag">
                                <ion-select-option *ngFor="let item of this.BagList" value="{{item.val}}">{{item.key}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>

                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-list>

    <ion-card-content class="ion-no-padding empty-list-box" *ngIf="passBagList?.length == 0">
        <ion-label class="empty-list">
            No Luggage Details Available!
        </ion-label>
    </ion-card-content>

</ion-content>

<ion-footer>
    <ion-toolbar style="padding: 5px;">
        <ion-button slot="start" class="btn btn-round" type="submit" [disabled]="this.total()==0" (click)="bookNow()">
            Purchase Pass
        </ion-button>
        <ion-col slot="end">
            <ion-label class="tittle">Total : </ion-label>
            <ion-label class="content">${{this.total()}}</ion-label>
        </ion-col>

    </ion-toolbar>

</ion-footer>