<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>

        <ion-row no-padding style="margin-top: 10px;">
            <ion-col>
                <ion-title class="header-title ml-10">Setting</ion-title>
            </ion-col>
        </ion-row>


    </ion-toolbar>
</ion-header>

<ion-content class="switch_box">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>Chat</ion-label>
            </ion-col>
            <ion-col>
                <ion-toggle></ion-toggle>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>