ion-content {
    --background: #fff;
}

.switch_box ion-grid {
    margin: 0px;
    padding: 0px;
}

.switch_box ion-row {
    padding: 3px 10px;
    background-color: #eee;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch_box ion-grid ion-row ion-col {
    flex: 0 0;
    white-space: nowrap;
}

ion-toggle {
    padding: 10px 0px !important;
    --handle-background: red;
    --handle-background-checked: green;
    --background: #fff;
    --background-checked: #fff;
}