<ion-content class="ion-no-padding">
    <!-- <div>
        <video height="100%" width="100%" preload="auto" playsinline="true" webkit-playsinline="false" autoplay="true">
    <source src="../../assets/videos/Compresnew.mp4" type="video/mp4">
   </video>
    </div> -->

    <!-- <img ng-src="{{yourGifURL}}" alt="Description" /> -->
    <img src="assets/images/logo.png" style="
        width: 100px;
        display: block;
        margin: 30px auto;">

    <img src="assets/images/heli.gif" style="
        width: 250px;
        margin: 50px auto;
        display: block;">

    <img src="assets/images/copy.png" style="
        width: 100%;
        max-width: 270px;
        margin: 50px auto 0 auto;
        display: block;">

</ion-content>