<ion-content (click)="close()" scrollX="false" scrollY="false">
    <ion-grid class="iss-signaturepad-container">
        <ion-row>
            <ion-col>
                <ion-label>Size : {{this.Tittle}}</ion-label>
                <ion-img style="marginTop: 20px;" src="{{this.QRCode}}"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row class="mb-10">
            <ion-col>
                <ion-button class="home-button btn btn-danger text-uppercase" type="submit" (click)="close()">
                    CLOSE
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>