:host {
    ion-content {
        --background: white;
        padding: 20px 10px;
    }
    ion-grid {
        padding: 20px 10px;
    }
    ion-col {
        padding: 10px 0px;
    }
    ion-label{
        width: 100%;
        display: block;
        font-size: 13px;
    }
    .text-center-bottom{
        text-align: center !important;
        font-size:10px; 
        font-style: italic;
    }
    .mt-10.text-center-bottom {
        font-size: 11px;
    }
    .logo-img {
        width: 90%;
    }
    .user-img {
        max-width: 180px;
        width: 100%;
        margin-bottom: 5px;
    }
    .content-img {
        width: 60%;
        height: auto;
        margin: 0 auto;
        padding-top: 10px;
    }
    .row-box.md.hydrated { position: relative;        height: 100%;   }
    .content{
        width: 100%;
        position: absolute;
        top: 50%;
        left: auto;
        transform: translate(0%, -50%);
    }
    .font-bold {
        font-weight: bold;
    }
}