<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Our Services</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <ion-img class="logo-img" src="../../../assets/images/logo-name.png"></ion-img>
            </ion-col>
            <ion-col>
                <ion-label>
                    This is your most valuable asset, don’t waste any more of it but actually gain some time with Helicopter To!
                </ion-label>
                <ion-label class="text-center">
                    <ion-img class="content-img" src="../../../assets/images/top-content.jpg"></ion-img>
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>
                    Come time travel with HTo! Flying with us is like giving you back time that you would have lost forever in traffic.
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="row-box">
            <ion-col size="6">
                <ion-img class="logo-img" src="../../../assets/images/middle-content.jpg"></ion-img>
            </ion-col>
            <ion-col>
                <ion-label class="content">
                    Sleep-in late, get that extra rest before an important meeting, no more being late because of traffic!
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>
                    Now arrive at places in minutes that normally would take you 2 hours to reach one-way.
                </ion-label>
                <ion-label class="font-bold mt-10">
                    Flying with HTo give you 3 1/2hours a day back to you.
                </ion-label>
                <ion-label class="mt-10">
                    Its like winding time back. Think of what you could do with 3 extra days of time each month or an extra 32 days a year? It really adds up!
                </ion-label>
                <ion-label>
                    <ion-img class="content-img" src="../../../assets/images/bottom-content.jpg"></ion-img>
                </ion-label>
                <ion-label class="text-center-bottom">
                    “Towering genius disdains a beaten path. It seeks regions hitherto unexplored.”
                </ion-label>
                <ion-label class="mt-10 text-center-bottom">
                    “Labor is prior to, and independent of, capital. Capital is only the fruit of labor, and could never have existed if labor had not first existed. Labor is the superior of capital.” Pres. Lincoln
                </ion-label>
            </ion-col>
        </ion-row>



    </ion-grid>

</ion-content>