<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Edit Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding main-wrapper">
    <form [formGroup]="form" (ngSubmit)="save()">
        <ion-grid>
            <ion-row class="profile-img-block">
                <ion-col class="profile-img-box">
                    <div class="profile_image_1">
                        <div class="profile_image">
                            <ion-img class="pro-img" id="profile_image" *ngIf="image1 !=''"
                                     src="data:image/png;base64,{{image1}}"></ion-img>
                            <!-- <ion-img class="pro-img" id="profile_image" *ngIf="image1 !=''" src="{{this.webview.convertFileSrc(image1)}}"></ion-img> -->
                            <ion-img class="pro-img" id="profile_image"
                                     *ngIf=" image1 =='' && this.user.UserPic != '' && this.user.UserPic != 'https://helicopter.blenzabi.com/uploads/'"
                                     src="{{this.user.UserPic}}"></ion-img>
                            <ion-img class="pro-img" id="profile_image" *ngIf="image1 =='' && this.user.UserPic == ''"
                                     src="../../../../../assets/images/avtar.png"></ion-img>
                        </div>

                        <label for="fileInput" icon-only ion-button class="icons-btn">
                            <ion-icon name="camera" (click)="selectImage(1)" class="icon"></ion-icon>
                        </label>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding container-fluid mb-10">
                <ion-col no-padding>
                    <ion-item class="ion-no-padding form-control">
                        <ion-label position="floating">First Name</ion-label>
                        <ion-input type="text" formControlName="fname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding container-fluid mb-10">
                <ion-col class="ion-no-padding" style="text-align: center">
                    <ion-item class="ion-no-padding form-control">
                        <ion-label position="floating">Last Name</ion-label>
                        <ion-input type="text" formControlName="lname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row class="ion-no-padding container mb-20">
                <ion-col size="12" style="text-align: left;">
                    <ion-label position="floating">Mobile No</ion-label>
                </ion-col>
                <ion-col>
                    <ion-row class="ion-no-padding">

                        <ion-col class="ion-no-padding"
                                 style="text-align: center;flex: 0 0 120px; max-width: 120px;">
                            <ion-item class="ion-no-padding form-control">
                                <country-picker [selectedCode]="countyCode" (change)="selectContry($event)">
                                </country-picker>
                            </ion-item>
                        </ion-col>
                        <ion-col class="ion-no-padding" style="text-align: center">
                            <ion-item class="ion-no-padding form-control">
                                <ion-input type="tel" placeholder="Your Mobile" maxlength="15"
                                           formControlName="mphone">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button class="register-button btn btn-danger text-uppercase" type="submit"
                                [disabled]="!form?.valid">
                        Save
                    </ion-button>
                </ion-col>
            </ion-row>


        </ion-grid>
    </form>
</ion-content>