:host {
    ion-content {
        --background: #ffffff;
    }
    ion-img {
        width: 28px;
    }
    ion-row {
        padding: 0px;
        margin: 16px 0px;
    }
    ion-col {
        align-items: center;
    }
    ion-grid {
        background: #ededed;
        border-radius: 10px;
        margin: 15px;
        padding: 10px;
        box-shadow: 0px 0px 2px 2px #d4d4d4;
    }
    .grid-block {
        position: relative;
    }
    .font-dark {
        color: #727272 !important;
    }
    .edit-button {
        position: absolute;
        top: 9px;
        right: 9px;
        display: block;
        width: 28px;
    }
}