<ion-content>

    <ion-grid class="grid-block">
        <div class="edit-button">
            <ion-img src="../../../../assets/images/edit.png" (click)="editProfile()"></ion-img>
        </div>
        <ion-row class="ion-no-padding margin-16-0">
            <ion-col size="4">
                <ion-label>First Name</ion-label>
            </ion-col>
            <ion-col size="1">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col>
                <ion-label class="font-dark">{{this.user.firstname}}</ion-label>
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding margin-16-0">
            <ion-col size="4">
                <ion-label>Last Name</ion-label>
            </ion-col>
            <ion-col size="1">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col>
                <ion-label class="font-dark">{{this.user.lastname}}</ion-label>
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding margin-16-0">
            <ion-col size="4">
                <ion-label>Email</ion-label>
            </ion-col>
            <ion-col size="1">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col>
                <ion-label class="font-dark">{{this.user.email}}</ion-label>
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding margin-16-0">
            <ion-col size="4">
                <ion-label>Mobile #</ion-label>
            </ion-col>
            <ion-col size="1">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col>
                <ion-label class="font-dark">{{this.user.CountryCode}} {{this.user.mobileno}}</ion-label>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>