<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="white" text="NEW GROUP" defaultHref=""></ion-back-button>
        </ion-buttons>
        <!-- <ion-button slot="primary" size="2" (click)="groupuserlist()">
            <ion-img class="logo" style="filter: invert(1);" src="../../assets/images/group-chat.png"></ion-img>
        </ion-button> -->
    </ion-toolbar>
    <ion-row>
        <ion-col>
            <!-- <ion-searchbar (ionChange)="getItems($event)"></ion-searchbar> -->
            <ion-input type="text" placeholder="Enter Group Name" [(ngModel)]="groupname"></ion-input>

        </ion-col>

    </ion-row>

</ion-header>

<ion-content>
    <ion-list no-padding class="list-box" *ngIf="userList?.length > 0">
        <ion-card-content class="chat_list_block" *ngFor="let chat of userList let i = index">

            <ion-grid no-padding>
                <ion-row no-padding class="chat_group_list">
                    <ion-checkbox class="ckb" [checked]="chat.IsSelected" (ionChange)="changeChacked($event,i)"></ion-checkbox>
                    <ion-col no-padding class="user_img_box">                        
                        <div class="user_icon">
                            <img class="circle-pic" src="{{chat.UserPic}}" onerror="this.src='../../assets/images/logo.png'" />
                        </div>
                    </ion-col>
                    <ion-col no-padding class="user_content_box">
                        <ion-label class="user-name">{{chat.firstname}} {{chat.lastname}} </ion-label>
                        <ion-label class="time">04:55 PM</ion-label>
                    </ion-col>
                    <ion-col no-padding size="2" class="user_count">
                        <ion-label class="msg-count">{{chat.TotalUnreadMessages}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-list>
    <ion-card-content no-padding class="empty-list-box" *ngIf="userList?.length == 0">
        <ion-label class="empty-list">
            User Not Available!
        </ion-label>
    </ion-card-content>
</ion-content>

<ion-footer>
    <ion-row class="container mb-10">
        <ion-col size="12" style="text-align: center;">
            <ion-button class="login-button btn btn-danger text-uppercase" type="submit" (click)="creategroup()">
                Create Group
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>