ion-content {
    --background: #fff;
}

ion-card-content.chat_list_block {
    padding: 8px 10px;
    margin: 10px;
    background: #ccc;
    border-radius: 5px;
}

ion-col.user_img_box {
    flex: 0 0 48px;
    max-width: 48px;
    margin-right: 15px;
    padding: 0px !important;
}

.user_icon {
    background: #cececc;
    padding: 0px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.user_icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 48px;
    min-height: 48px;
}

ion-label.user-name {
    display: block;
    font-weight: 700;
    color: #000;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

ion-label.time {
    color: #000;
    font-size: 14px !important;
    font-weight: 700;
}

ion-col.user_count {
    flex: 0 0 !important;
    padding: 0px;
    max-width: none !important;
    width: auto !important;
    font-size: 16px;
    color: #000;
    white-space: nowrap;
}

.login-button {
    --background: -webkit-linear-gradient(90deg, #F10010 0%, #F10010 100%) !important;
    color: #fff;
    font-size: 17px;
}

.btn-danger {
    --background: #e01212 !important;
    color: #fff;
}

.chat_group_list {
    position: relative;
}
.chat_group_list ion-checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0px;
    top: 0px;
    z-index: 3;
    opacity: 0;
}
ion-checkbox.ckb {
    position: absolute;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    background: transparent;
}

input[checkbox]:checked {
    --background: #000 !important;
}
.user_img_box .user_icon {position: relative;}
.chat_group_list .user_img_box .user_icon::before{
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.chat_group_list .user_img_box .user_icon::after {
    left: 19px;
    top: 10px;
    width: 8px;
    height: 18px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    z-index: 2;
    content: "";
    display: none;
    position: absolute;
}

  .chat_group_list ion-checkbox.checkbox-checked ~ .user_img_box .user_icon::after,  .chat_group_list ion-checkbox.checkbox-checked ~ .user_img_box .user_icon::before {
      display: block;
  }