<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding main-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="padding: 0 6px;">

        <ion-grid class="box-wrapper">
            <ion-row>
                <ion-col>
                    <ion-img src="../../../assets/images/logo.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="login-label"></ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding container mb-20">
                <ion-col class="ion-no-padding" style="text-align: center">
                    <ion-item class="ion-no-padding form-control">
                        <ion-input type="Email" placeholder="Your Email" formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="container mb-10">
                <ion-col>
                    <ion-button class="login-button btn btn-danger text-uppercase" type="submit">
                        Submit
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="mb-20">
                <ion-col>
                    <ion-label>Alredy have a account? </ion-label>
                    <ion-label style="color: red;" (click)="goToLogin()"> Login</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>