<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Confirm Booking</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="ion-no-padding section-blok">
        <ion-row no-padding>
            <ion-col>
                <ion-label class="header">{{this.selPass.PassName}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>#{{this.selPass.IDProof}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-img src="{{this.selPass.QRCode}}"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="not-class">Scan Above code AT your nearest HTo base to start your journey</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="ion-row-upload">
            <ion-col>
                <ion-label class="content">Your Helicopter & Pilot's Details <br />will be shown here <br />once attendent scan your code.</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>