<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Confirm Booking</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-no-padding" *ngIf="bookingBagList?.length >0">
        <ion-row no-padding style="margin-top: 10px;">
            <ion-col>
                <ion-label class="header">{{this.selPass.PassName}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="not-class">Scan Below code to your nearest HTo base to ride your journey with luggage</ion-label>
            </ion-col>
        </ion-row>
        <ion-card-content class="ion-no-padding">

            <ion-grid class="ion-no-padding section-blok">

                <ion-row class="cat_block">
                    <ion-col class="cat_box" *ngFor="let book of bookingBagList let i = index" size="4" tappable>
                        <div class="cat_pro_box">
                            <ion-label>{{this.book.BagSize}}</ion-label>
                            <ion-img src="{{this.book.QRCode}}" (click)="showQRCode(this.book.QRCode,this.book.BagSize)"></ion-img>

                            <!-- <ion-img class="cat_img" [src]="cat.CategoryLogo"></ion-img> -->
                            <!-- <ion-label class="category-title"> {{cat.CategoryName}}</ion-label> -->
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>




    <ion-card-content class="ion-no-padding empty-list-box" *ngIf="bookingBagList?.length == 0">
        <ion-label class="empty-list">
            No Luggage Booked!
        </ion-label>
    </ion-card-content>

</ion-content>