:host {
    ion-content {
        --background: #FFFFFF;
    }
    .header {
        color: red;
        font-family: 'Lato-Bold';
        font-size: 18px;
    }
    .section-blok {
        //padding: 28px 0px !important;
    }
    ion-row {
        // justify-content: center;
    }
    ion-col {
        text-align: center;
    }
    .not-class {
        font-size: small;
        padding: 10px;
    }
    .ion-row-upload {
        margin-left: 10px;
        margin-right: 10px;
        height: 200px;
        background: #e4e4e4;
        color: #64666A;
        text-align: center;
        justify-content: center;
        position: relative;
        margin-top: 10px;
    }
    .content {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
    }
}