<ion-content (click)="dismissModal()" scrollX="false" scrollY="false">
    <form [formGroup]="cardForm" (ngSubmit)="callStrip()" style="padding: 0 6px;">
        <ion-grid class="iss-signaturepad-container">
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding form">
                        <ion-label position="floating">Card Number</ion-label>
                        <ion-input type="number" maxlength="16" formControlName="cardnumber" id="cardnumber"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item class="ion-no-padding form">
                        <ion-label position="floating">Expiration(Mm/Yy)</ion-label>
                        <ion-input type="text" formControlName="cardexpiry"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item class="ion-no-padding form">
                        <ion-label position="floating">CVV</ion-label>
                        <ion-input type="number" mask="***" maxlength="4" formControlName="cardcvv"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="mb-10">
                <ion-col>
                    <ion-button class="home-button btn btn-danger text-uppercase" (click)="cancel()">
                        Cancel
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="home-button btn btn-danger text-uppercase" [disabled]="!cardForm?.valid" type="submit">
                        PAY
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>