<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>

        <ion-row no-padding style="padding: 10px 0;">
            <ion-col class="user_img_box" style="margin-right: 0px !important;">
                <div class="user_icon">
                    <img class="circle-pic" style="filter: invert(1);" src="../../../assets/images/Chat_wijh_us.png" onerror="this.src='../../assets/images/logo.png'" />
                </div>
            </ion-col>

            <ion-col>
                <ion-title class="header-title ml-10">Chat With Us</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScroll)="scrollFunction($event)" no-padding style="position: relative;">
    <ion-grid no-padding class="chat-block">
        <ion-row class="padding-box" *ngFor="let message of messages">
            <ion-col class="user_img_box" no-padding *ngIf="message.CreatedBy !== this.commonService.getUserId()">
                <div class="user_icon new">
                    <img class="circle-pic" src="../../../assets/images/Chat_wijh_us.png" onerror="this.src='../../assets/images/logo.png'" />
                </div>
            </ion-col>
            <ion-col no-padding size="9" *ngIf="message.CreatedBy !== this.commonService.getUserId()">
                <div class="msg-box mt-15">
                    <ion-label class="msg">{{ message.Mesaage }}</ion-label>
                </div>
                <ion-label class="tile_box">{{ message.MessageDate | date:'MM/dd/yy hh:mm a' }}</ion-label>
            </ion-col>

            <ion-col offset="3" size="9" *ngIf="message.CreatedBy === this.commonService.getUserId()" no-padding>
                <div class="replay-box mt-15">
                    <ion-label class="msg">{{ message.Mesaage }}</ion-label>
                </div>
                <ion-label class="tile_box">{{ message.MessageDate | date:'MM/dd/yy hh:mm a' }}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
    <ion-grid no-padding class="message-input-block">
        <!-- <ion-row *ngIf="this.typing">
            <ion-col>
                <ion-label class="message-typing">Typing...</ion-label>
            </ion-col>
        </ion-row> -->
        <ion-row class="message-input-box">
            <ion-col size="10" no-padding>
                <ion-input #inMsg placeholder="Type a Message" [(ngModel)]="message" (input)='onChangeTime($event.target.value)'></ion-input>
            </ion-col>
            <ion-col size="2" no-padding>
                <ion-button class="btn-send" (click)="sendMessage()" [disabled]="message === ''">
                    <ion-img class="input-icon" src="assets/images/send.png"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>