:host {
    ion-content {
        --background: #fff;
    }
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-card-content {
        height: auto;
        background-color: #ffffff;
        display: block;
        padding: 15px 0 10px 0px !important;
        margin: 0px 10px !important;
        border: none !important;
        border-bottom: 1px solid #c6ccd6 !important;
    }
    .circle-pic {
        width: auto;
        height: 0px;
        padding: 5px;
        border-radius: 0%;
    }
    .title.bold {
        color: #505050;
        margin-top: 6px;
        letter-spacing: 0px;
        font-size: 14px;
        margin-bottom: 0px !important
    }
    .time {
        color: #1c365b;
        font-size: 14px;
        text-align: right !important;
    }
    .msg-count {
        background: #1c355d;
        color: white;
        text-align: center;
        font-size: 13px;
        margin: 0 auto;
        height: 25px !important;
        width: 25px !important;
        border-radius: 50%;
        display: inline-block;
        line-height: 25px;
    }
    .content {
        font-size: 14px;
        letter-spacing: 0;
        margin-top: 0px;
        color: #60718f;
    }
    ion-content {
        --background: #f2f7fd;
    }
    .m-10-0 {
        margin: 10px 0px;
    }
    .msg-box {
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 0px 10px 10px 10px;
        width: 100%;
        display: block;
        background: #cfc8c8;
    }
    .replay-box {
        background-color: #000;
        padding: 10px;
        border-radius: 10px 10px 0px 10px;
        width: 100%;
        overflow: hidden;
        border: 1px solid #000;
        display: block;
        margin-bottom: 5px;
    }
    .msg {
        width: 100%;
        display: block;
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        line-height: normal;
        color: #000;
        font-weight: 700;
    }
    .time {
        float: right;
        display: inline-block;
        margin: 0px;
        padding: 0px;
        color: #b5b5b5;
        font-size: 15px;
        line-height: normal;
        position: relative;
        right: 0px;
    }
    .replay-box .msg {
        color: #fff;
    }
    .replay-box .time {
        color: #eee;
    }
    .padding-box {
        padding: 0px 20px;
    }
    .message-input-block {
        // position: fixed;
        bottom: 35px;
        width: 90%;
        left: 5%;
    }
    .message-typing {
        color: #eee;
    }
    .message-input-box {
        padding: 4px 10px;
        border: 1px solid #bbb;
        background-color: #fff;
        border-radius: 50px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    .file {
        width: 40px;
        display: block;
        height: 40px;
        opacity: 0;
    }
    .input-icon {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 25px;
        display: block;
    }
    .btn-send {
        --background: transparent !important;
        width: 40px;
        --border: none;
        --box-shadow: none !important;
        --border-radius: 0;
        --background-focused: transparent !important;
        --background-hover: transparent !important;
        float: right;
        position: relative;
    }
    .btn-send::after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: -15px;
        width: 1px;
        height: 35px;
        background-color: #8d9aad;
    }
    .chat-block {
        width: 100%;
        padding-bottom: 5px !important;
        // height: 78vh;
        //  overflow: scroll;
    }
    .message {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 4px;
        white-space: pre-wrap;
    }
    .my-message {
        background: var(--ion-color-tertiary);
        color: #fff;
    }
    .other-message {
        background: var(--ion-color-secondary);
        color: #fff;
    }
    .time {
        color: #dfdfdf;
        float: right;
        font-size: small;
    }
    ion-row {
        align-items: center;
    }
    .user-name {
        font-weight: bold;
        font-size: 16px;
    }
    ion-col.user_img_box {
        flex: 0 0 48px;
        max-width: 48px;
        margin-right: 15px;
        padding: 0px !important;
    }
    .user_icon {
        background: #cececc;
        padding: 0px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }
    .user_icon.new {
        background-color: #000 !important;
    }
    .user_icon img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 30px;
        min-height: 30px;
        padding: 0px !important;
    }
    .padding-box {
        padding: 0px 20px;
        align-items: flex-start;
    }
    ion-label.tile_box {
        display: block;
        width: 100%;
        font-size: 11px;
        font-weight: 700;
        margin: 8px 0px;
        padding: 0px 10px;
    }
    .message-input-box {
        margin: 10px auto;
    }
    .chat-block {
        width: 100%;
        padding: 5px 0 !important;
    }
}