<ion-menu side="start" class="menu-height" menuId="first">
    <ion-header>
        <ion-item>
            <ion-grid style="padding-left: 0px !important; padding-right: 0px !important;">
                <ion-row class="user-info-block">
                    <ion-col size="3" class="user-img">
                        <ion-img class="user_img" *ngIf="this.user.UserPic" src="{{ this.user.UserPic!='https://backend.iflyhto.com/uploads/user/'? this.user.UserPic:'../../assets/images/avtar.png'}}" error="../../assets/images/avtar.png">
                        </ion-img>
                    </ion-col>
                    <ion-col size="9" class="user-info">
                        <ion-label class="menu-header-title">{{this.user.firstname}} {{this.user.lastname}}</ion-label>
                        <ion-label class="menu-header " style="overflow: visible;text-overflow: initial;position: relative;padding-left: 20px;white-space: normal;">
                            <ion-icon class="icons-mail" name="mail"></ion-icon>{{this.user.email}}
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-header>
    <ion-content class="list-ion-content" no-paddings>
        <ion-list class="ion-no-padding list-block">
            <ion-item class="list-item" (click)="myProfile()">
                <ion-img class="menu-img" src="../../assets/images/pro.png"></ion-img>
                <ion-label class="lbl-style">My Profile</ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item>
            <ion-item class="list-item" (click)="changePassword()">
                <ion-img class="menu-img" style="filter: invert(100%);" src="../../assets/images/pas"></ion-img>
                <ion-label class="lbl-style">Change Password</ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item>
            <ion-item class="list-item" (click)="overService()">
                <ion-img class="menu-img" src="../../assets/images/service.png"></ion-img>
                <ion-label class="lbl-style">Our Services</ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item>
            <ion-item class="list-item" (click)="myRideHistory()">
                <ion-img class="menu-img" class="menu-img" src="../../assets/images/ride.png"></ion-img>
                <!-- <ion-label class="lbl-style">My Ride History</ion-label> -->
                <ion-label class="lbl-style">My Rides </ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item>
            <ion-item class="list-item" (click)="myBookings()">
                <ion-img class="menu-img" src="../../assets/images/bookings.png"></ion-img>
                <ion-label class="lbl-style">My Bookings</ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item>
            <ion-item class="list-item" (click)="bookPass()">
                <ion-img class="menu-img booking" src="../../assets/images/bookpass.png"></ion-img>
                <ion-label class="lbl-style">Book Pass </ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item>

            <!-- <ion-item class="list-item" *ngIf="this.user.IsEmergency != 0" (click)="EmergencyPopup()"> -->
            <ion-item class="list-item" (click)="EmergencyPopup()">
                <ion-img class="menu-img booking" src="../../assets/images/emargency.png"></ion-img>
                <ion-label class="lbl-style">Emergency Call </ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item>

            <ion-item class="list-item" (click)="settingClick()">
                <ion-img class="menu-img booking" src="../../assets/images/setting.png"></ion-img>
                <ion-label class="lbl-style">Setting</ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item>

            <ion-item class="list-item" (click)="ChatClick()">
                <ion-img class="menu-img booking" src="../../assets/images/Chat_wijh_us.png"></ion-img>
                <ion-label class="lbl-style">Chat With Us </ion-label>
                <ion-img class="img-icon" src="../../assets/images/next.png"></ion-img>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer class="list-ion-footer" no-padding>
        <ion-item (click)="logout()" class="list-footer text-center">

            <ion-label class="lbl-style">
                <ion-img class="img-center" src="../../assets/images/logout.png"></ion-img>
                Logout
            </ion-label>

        </ion-item>
    </ion-footer>
</ion-menu>

<ion-router-outlet main>

    <ion-header>
        <ion-toolbar>
            <ion-title>
                <ion-grid class="ion-no-padding header">
                    <!-- <ion-button (click)="openFirst()" class="back-button button" no-padding>
                        <img class="img" src="../../assets/images/menu.png" />
                    </ion-button> -->
                    <ion-row class="header-block" style="text-align: center;align-items: center;">
                        <ion-col size="1" (click)="openFirst()">
                            <img class="img" src="../../assets/images/menu.png" />
                        </ion-col>
                        <ion-col size="8">
                            <div class="header-box text-center">
                                <ion-img class="logo" src="../../assets/images/header-logo.png"></ion-img>
                                <ion-label class="logo-title">Helicopter To</ion-label>
                            </div>
                        </ion-col>
                        <!-- <ion-col *ngIf="this.user.IsEmergency != 0" size="1" (click)="EmergencyPopup()"> -->
                        <ion-col size="1" (click)="EmergencyPopup()">
                            <img class="img" src="../../assets/images/emargency.png" />
                        </ion-col>

                        <ion-col size="2" (click)="UserChatClick()">
                            <img class="img" src="../../assets/images/newchat.png" />
                        </ion-col>

                    </ion-row>

                </ion-grid>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content style="background: #ffffff">
        <ion-list class="ion-no-padding" *ngIf="routeList?.length > 0">
            <ion-card-content class="card-block ion-no-padding" *ngFor="let route of routeList" (click)="routeClick(route)" [ngStyle]="{'background-image':'url(' + route.CountryPic + ')'}">
                <ion-grid class="ion-no-padding card-content-block">
                    <ion-row class="img-block">
                        <ion-col class="route-city">
                            <ion-label class="route-city-name">{{route.CountryName}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row class="route-block">
                        <ion-col class="route-count">
                            <ion-label>{{route.totalRoutes}} Routes to fly</ion-label>
                        </ion-col>
                        <ion-col class="route-button">
                            <ion-button class="btn btn-danger text-capitalize" type="submit">
                                Check Routes
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-list>
        <ion-card-content class="ion-no-padding empty-list-box" *ngIf="routeList?.length == 0">
            <ion-label class="empty-list">
                No Routes Availables!
            </ion-label>
        </ion-card-content>

    </ion-content>
</ion-router-outlet>