:host {
    item-native {
        background: red;
    }
    ion-title {
        color: white
    }
    ion-label {
        color: white
    }
    .menu-header {
        color: #010B17
    }
    .back-button.button {
        position: absolute;
        left: 15px;
        top: 18px;
    }
    ion-list {
        background: #00000000;
        margin: 10px;
        margin-bottom: 70px !important;
    }
    .img {
        width: 20px;
        height: auto;
        margin-top: 5px;
    }
    .menu-img {
        width: 24px;
        height: auto;
    }
    .chek-route {
        --background: -webkit-linear-gradient(90deg, #F10010 0%, #F10010 100%) !important;
        color: white
    }
    ion-card-content {
        border-radius: 10px;
        background: #010B17;
        height: auto;
        margin-top: 10px;
        ion-img {
            object-fit: resize;
            height: 120px;
            width: 100% !important;
            border: 0;
            padding: 0;
        }
    }
    ion-content {
        --background: #ededed;
        padding: 10px;
    }
    .list-ion-content {
        --background: #010B17;
        padding: 10px;
        --ion-color-light: #00000000;
        --ion-color-light-shade: #00000000;
        --ion-item-background: var(--ion-color-light);
        --ion-item-background-activated: var(--ion-color-light-shade);
    }
    .list-ion-footer {
        --background: red;
        --ion-color-light: red;
        --ion-color-light-shade: red;
        --ion-item-background: var(--ion-color-light);
        --ion-item-background-activated: var(--ion-color-light-shade);
    }
    .lbl-style {
        padding: 5px;
        margin: 5px;
        color: white;
    }
    .logo {
        width: 30px;
        display: inline-block;
    }
    .logo-title {
        display: inline-block;
        vertical-align: bottom;
    }
    .header-block {
        padding-top: 3px !important;
    }
    .btn-danger {
        --background: #e01212 !important;
        color: #fff;
        padding: 0px;
        height: 33px;
        border-radius: 20px !important;
        overflow: hidden;
        margin-top: 4px;
        float: right;
        margin-right: 15px;
    }
    .card-block {
        width: 100% !important;
        height: 130px !important;
        overflow: hidden;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 12px 0px;
        border-radius: 15px !important;
    }
    .route-block {
        position: absolute;
        width: 100%;
        height: 50px;
        background-color: #030b18;
        bottom: 0px;
    }
    .route-count {
        padding-left: 20px;
        font-size: 17px;
        margin-top: 6px;
    }
    .route-city {
        position: absolute;
        width: 100%;
        height: 80px;
        top: 0px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .route-city-name {
        color: #fff;
        font-size: 20px;
        position: absolute;
        bottom: 7px;
        left: 21px;
        font-family: 'Lato-Bold';
    }
    .list-block {
        margin: 0px !important;
    }
    .list-item {
        width: 100%;
        display: block;
        border-bottom: 1px solid #d4d4d4;
        margin-top: 12px;
    }
    .img-icon {
        width: 7px;
        margin-top: 3px;
    }
    .user-img {
        width: 70px !important;
        height: 70px !important;
        overflow: hidden;
        border-radius: 50% !important;
        border: 2px solid #939393;
        max-width: 70px !important;
        background-color: transparent;
        position: relative;
    }
    .user-info {
        margin: 0px !important;
        padding: 0px !important;
        padding-top: 10px !important;
        padding-left: 12px !important;
    }
    .user_img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto !important;
        display: block;
    }
    .menu-header-title {
        color: #0d2261;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 4px;
    }
    .menu-header {
        font-size: 16px;
    }
    .icons-mail {
        display: inline-block;
        color: #939393 !important;
        position: absolute;
        left: 0px;
        top: 4px;
    }
    .user-info-block {
        margin: 0px !important;
        padding: 35px 0px 10px 0px!important;
    }
    .img-center {
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
    .inner-scroll.scroll-y {
        margin-bottom: 50px;
    }
    .menu-height {
        height: 100vh !important;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 667px) and (min-device-width: 375px) {
        .menu-height {
            height: 97vh !important;
        }
    }
}