<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>My Bookings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list class="ion-no-padding"  *ngIf="bookingList?.length >0">

        <ion-card-content *ngFor="let book of bookingList" class="ion-no-padding" (click)="bookClick(book)">
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col size="6">
                        <ion-label class="font-bold">{{book.PassName}}</ion-label>
                    </ion-col>
                    <ion-col align-self-end size="6">
                        <div class="date-block">
                            <ion-img class="address-date" src="../../../assets/images/Calendar.png"></ion-img>
                            <ion-label class="date-content">{{book.BookingDate}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label class="content">#{{book.TransactionID}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>
            <ion-card-content  class="ion-no-padding empty-list-box" *ngIf="bookingList?.length == 0">
                <ion-label class="empty-list" >
                    No Pass Booked!
                </ion-label>
            </ion-card-content>
 
</ion-content>