:host {
    ion-content {
        --background: #FFFFFF;
        padding: 10px;
    }
    ion-title {
        color: white
    }
    ion-list {
        margin: 10px;
    }
    ion-card-content {
        background: #EEEEEE;
        height: auto;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px 12px;
    }
    .date-block {
        text-align: right;
    }
    .address-date {
        display: inline-block;
        width: 18px;
        vertical-align: middle;
    }
    .date-content {
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
        font-size: 13px;
    }
    .font-bold {
        font-size: 17px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .content {
        display: block;
        padding: 0px;
        color: #000;
        font-size: 16px;
    }
}