<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="white" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-button slot="primary" size="2" *ngIf="this.isAdmin=='1'" (click)="addmember()">
            <ion-img class="logo" style="height: 20px; width: 22px;" src="../../assets/images/plus.png"></ion-img>
        </ion-button>
        <ion-row no-padding style="padding: 10px 0;">
            <ion-col class="user_img_box" style="margin-right: 0px !important;">
                <div class="user_icon">
                    <ion-img class="circle-pic" src="../../assets/images/group-chat.png"></ion-img>
                </div>
            </ion-col>

            <ion-col>
                <ion-title class="header-title ml-10">{{name}}</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list no-padding class="list-box">
        <ion-card-content class="chat_list_block" *ngFor="let chat of memberList">
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col no-padding class="user_img_box">
                        <div class="user_icon">
                            <img class="circle-pic" src="{{chat.ImageURL}}" onerror="this.src='../../assets/images/logo.png'" />
                        </div>
                    </ion-col>
                    <ion-col no-padding class="user_content_box">
                        <ion-label class="user-name">{{chat.FirstName}}</ion-label>
                        <ion-label class="time">04:55 PM</ion-label>
                    </ion-col>
                    <ion-col no-padding size="3" class="user_count" (click)="deleteuser(chat.MemberID)">
                        <ion-label class="msg-count">0</ion-label>
                        <ion-img style="height: 20px;width: 20px;" *ngIf="this.isAdmin=='1'" src="../../assets/images/delete.jpeg"></ion-img>

                    </ion-col>

                </ion-row>

            </ion-grid>
        </ion-card-content>

        <ion-card-content class="chat_list_block" (click)="exitGroup()">
            <ion-grid no-padding>
                <ion-row no-padding style="align-items: center;">
                    <ion-col no-padding class="user_count exit_icons">
                        <ion-img style="height: 20px;width: 20px;" src="../../assets/images/exit.png"></ion-img>
                    </ion-col>
                    <ion-col no-padding class="user_content_box">
                        <ion-label class="user-name">Exit Group</ion-label>
                    </ion-col>


                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-list>

    <ion-card-content no-padding class="empty-list-box" *ngIf="memberList?.length == 0">
        <ion-label class="empty-list">
            Member Not Available!
        </ion-label>
    </ion-card-content>
</ion-content>