<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid class="ion-no-padding header">
                <!-- <div class="back-button button"> -->
                <ion-buttons class="back-button button" no-padding>
                    <ion-back-button color="white" text="" defaultHref=""></ion-back-button>
                </ion-buttons>
                <!-- </div> -->
                <ion-row class="header-block">
                    <ion-col>
                        <div class="header-box text-center">
                            <ion-img class="logo" src="../../assets/images/header-logo.png"></ion-img>
                            <ion-label class="logo-title">Helicopter To</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col no-padding>
                <h4 class="section-title">{{route.CountryName}}</h4>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list  *ngIf="routeList?.length > 0">
        <ion-card-content *ngFor="let route of routeList" (click)="routeClick(route)">
            <ion-grid no-padding>
                <div class="next-button-box">
                    <ion-img class="next-icon" src="../../../assets/images/next-btn.png"></ion-img>
                </div>
                <ion-row no-padding>
                    <ion-col>
                        <ion-label class="title">{{route.RouteTitle}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col class="address">
                        <ion-img class="address-icon" src="../../../assets/images/location.png"></ion-img>
                        <ion-label class="address-content">{{route.routes_details.length}} Pickup Points</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>

    <ion-card-content  class="ion-no-padding empty-list-box" *ngIf="routeList?.length == 0">
            <ion-label class="empty-list" >
                No Route Available!
            </ion-label>
        </ion-card-content>
</ion-content>