:host {
    ion-content {
        --background: #fff;
        padding: 10px;
    }
    ion-list {
        padding: 10px;
        height: 100%;
    }
    ion-card-content {
        border-radius: 10px;
        background: #010B17;
        height: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        color: white;
        position: relative;
    }
    .address-icon {
        display: inline-block;
        width: 15px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .next-icon {
        width: 40px;
        position: absolute;
        z-index: 1;
        right: 15px;
        top: 50%;
        transform: translate(0%, -50%);
    }
    .title {
        font-size: 20px;
    }
    .address-content {
        font-size: 16px;
    }
    .section-title {
        font-size: 20px;
        padding: 0px 15px;
    }
}